@import '../../../../assets/standard-styles/colors.scss';

.box-grid {
  height: 100%;
  width: 100%;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  -ms-interpolation-mode: nearest-neighbor;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  user-zoom: fixed;
  background-color: $gridBackgroundColor;
}

.div-tooltip {
  opacity: 0;
  position: fixed;
  border-radius: 4px;
  background-color: $tooltipBackgroundColor;
  padding: 5px 10px;
  margin: 20px;
  border: $tooltipBorder;
  z-index: 99999;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  font-size: 12px;
  visibility: hidden;
}

.div-context-menu {
  z-index: 88888;
  width: auto;
  height: auto;
  position: fixed;
}



.menu-item {
  display: flex;
  flex-flow: row;
  color: black;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6px;
  cursor: pointer;
 
}
.menu-item-disabled {
  display: flex;
  flex-flow: row;
  color: gray;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6px;
}

.subMenu-separation {
  height: 3px;
  background: white;
  color:grey;
  width: 100%;
}

.subMenu-arrow{
  width: 10px;
  padding-left: 5px;

}
.menu {
  padding:3px;
  background: white;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.menu-item:hover {
  background: $focusBorderColor;
  color: white;
}

.menu-item-disabled:hover {
  background: $focusBorderColorDisable !important;
  color: white;
}



.subMenu-separation:hover {
    background: white;
 }

 .separation{
  width: 100%;
 }
.subMenu-key {
  padding-left: 20px;
  text-align: end;
  width: auto;

}



canvas {
  zoom: 100%;
  max-zoom: 100%;
  min-zoom: 100%;
  transform: scale(1.0);
  user-zoom: fixed;
}

.filler {
  flex: 1 1 auto;
}

.edit-container{
  z-index: 77777;
  width: auto;
  height: auto;
  position: fixed;
}