@import '../../../../assets/standard-styles/colors.scss';

.box-grid {
  height: 100%;
  width: 100%;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  -ms-interpolation-mode: nearest-neighbor;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  user-zoom: fixed;
  background-color: $gridBackgroundColor;
}

.div-tooltip {
  opacity: 0;
  position: fixed;
  border-radius: 4px;
  background-color: $tooltipBackgroundColor;
  padding: 5px 10px;
  margin: 20px;
  border: $tooltipBorder;
  z-index: 99999;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  font-size: 12px;
  visibility: hidden;
}

.div-context-menu {
  z-index: 88888;
  width: auto;
  height: auto;
  position: fixed;
}

canvas {
  zoom: 100%;
  max-zoom: 100%;
  min-zoom: 100%;
  transform: scale(1.0);
  user-zoom: fixed;
}

.filler {
  flex: 1 1 auto;
}

